<div id="container">
    <h1>Config</h1>
    <app-form-section-header>Media</app-form-section-header>
    <div id="media-index-config-container">
        <app-form-section-part>
            <ng-container *ngIf="mediaIndexConfig$ | async as configs">
                <ng-container *ngFor="let config of configs">
                    <label for="{{config.key}}" class="label">{{config.label}}</label>
                    <input type="text" name="{{config.key}}" id="{{config.key}}"
                        placeholder="Enter {{config.placeholder}}" class="media-index-config-input config-input"
                        value="{{config.value}}">
                </ng-container>
                <button type="submit" (click)="mediaIndexConfigSubmit$.next()" class="save-button">Save Changes</button>
            </ng-container>
        </app-form-section-part>
    </div>
    <app-form-section-header>Jackett</app-form-section-header>
    <div id="torrent-index-config-container">
        <app-form-section-part>
            <ng-container *ngIf="torrentIndexConfig$ | async as configs">
                <ng-container *ngFor="let config of configs">
                    <label for="{{config.key}}" class="label">{{config.label}}</label>
                    <input type="text" name="{{config.key}}" id="{{config.key}}"
                        placeholder="Enter {{config.placeholder}}" class="torrent-index-config-input config-input"
                        value="{{config.value}}">
                </ng-container>
                <button type="submit" (click)="torrentIndexConfigSubmit$.next()" class="save-button">Save Changes</button>
            </ng-container>
        </app-form-section-part>
    </div>
    <app-form-section-header>Storage</app-form-section-header>
    <div id="storage-gateway-config-container">
        <app-form-section-part>
            <ng-container *ngIf="storageGatewayConfig$ | async as configs">
                <ng-container *ngFor="let config of configs">
                    <label for="{{config.key}}" class="label">{{config.label}}</label>
                    <input type="text" name="{{config.key}}" id="{{config.key}}"
                        placeholder="Enter {{config.placeholder}}" class="storage-gateway-config-input config-input"
                        value="{{config.value}}">
                </ng-container>
                <button type="submit" (click)="storageGatewayConfigSubmit$.next()" class="save-button">Save Changes</button>
            </ng-container>
        </app-form-section-part>
    </div>
</div>