<div id="container">
    <ul>
        <li>
            <a [routerLink]="''">
                <div class="icon">
                    <img [src]="'dashboard.svg'">
                </div>
                Dashboard
            </a>
        </li>
        <li>
            <a [routerLink]="'search'">
                <div class="icon">
                    <img [src]="'search.svg'">
                </div>
                Search Media
            </a>
        </li>
        <li>
            <a [routerLink]="'config'">
                <div class="icon">
                    <img [src]="'config.svg'">
                </div>
                Config
            </a>
        </li>
    </ul>
</div>