<div id="container">
    <ul>
        <li>
            <a [routerLink]="''">
                <div class="icon">
                    <img [src]="'dashboard.svg'">
                </div>
                Dashboard
            </a>
        </li>
        <li>
            <a [routerLink]="'search'">
                <div class="icon">
                    <img [src]="'search.svg'">
                </div>
                Search Media
            </a>
        </li>
        <li>
            <a [routerLink]="'storage'">
                <div class="icon">
                    <img [src]="'storage.svg'">
                </div>
                Storage
            </a>
        </li>
        <li>
            <a [routerLink]="'media'">
                <div class="icon">
                    <img [src]="'media.svg'">
                </div>
                Media
            </a>
        </li>
        <li>
            <a [routerLink]="'torrents'">
                <div class="icon">
                    <img [src]="'torrents.svg'">
                </div>
                Torrents
            </a>
        </li>
        <li>
            <a [routerLink]="'torrent-client'">
                <div class="icon">
                    <img [src]="'client.svg'">
                </div>
                Torrent Client
            </a>
        </li>
    </ul>
</div>