div#container{
    box-sizing: border-box;
    padding: var(--page-margin-top) var(--page-margin-left) 0 var(--page-margin-left);
    height: 100vh;
    overflow-y: scroll;

    h1{
        font-size: var(--page-title-font-size);
        color: var(--color6);
        margin-left: var(--page-title-margin-left);
    }

    div#in-progress-table-container{

        margin-top: var(--form-section-part-margin-top);
        margin-bottom: calc(3vh + 1.4rem);

        div#in-progress-table {
            display: grid;
            --columns: 70% 20% 10%;
            grid-template-rows: var(--table-row-height) calc(var(--table-row-height) * 8);

            div.head {
                display: grid;
                grid-template-columns: var(--columns);

                div {
                    display: flex;
                    align-items: center;

                    span {
                        font-size: var(--table-head-font-size);
                        font-weight: var(--table-head-font-weight);
                    }
                }
            }

            div.body {
                display: grid;
                grid-template-columns: repeat(auto);
                overflow-y: scroll;

                div.row {
                    height: var(--table-row-height);
                    display: grid;
                    grid-template-columns: var(--columns);

                    &:hover {
                        background-color: var(--color11);
                    }

                    div {
                        display: flex;
                        align-items: center;

                        &:first-of-type {
                            margin-left: calc(0.3vw + 0.2rem);
                        }

                        span {
                            font-size: var(--table-row-font-size);
                            font-weight: var(--table-row-font-weight);

                            a{
                                color: inherit;
                                text-decoration: none;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    div#storage-location-display-container {
        margin-top: var(--form-section-part-margin-top);
        margin-bottom: calc(3vh + 1.4rem);

        div#storage-location-display {
            display: flex;
            flex-wrap: wrap;
            gap: calc(1.4vw + 0.3rem);

            div.storage-location {
                width: calc(4vw + 7rem);
                display: grid;
                grid-template-rows: calc(7.6vh + 3.3rem) calc(3vh + 2.4rem);
                border: 1px solid var(--color10);
                cursor: pointer;
                transition: background-color 0.1s ease-in-out, border-color 0.15s ease-in-out;

                &.selected {
                    border-color: var(--color12);
                }

                &:hover {
                    background-color: var(--color3);
                }

                div.image-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                div.text-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    margin: 0 0 calc(0.4vw + 0.3rem) calc(0.5vw + 0.34rem);

                    span {
                        color: var(--color6);

                        &:first-of-type {
                            font-size: calc(0.25vw + 0.6rem);
                            font-weight: 500;
                            margin-bottom: calc(0.2vw + 0.1rem);
                        }

                        &:last-of-type {
                            font-size: calc(0.43vw + 0.78rem);
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}