<div class="container mt-3">
    <ng-container *ngIf="storageLocations != null; else storageLocationsMissing">
        <ng-container *ngIf="storageLocations.length > 0; else storageLocationsEmpty">
            <span>Storage Locations configured:</span>
            <ul>
                <li *ngFor="let storageLocation of storageLocations">
                    {{storageLocation.displayName}}
                </li>
            </ul>
        </ng-container>
        <ng-template #storageLocationsEmpty>
            <span>No storage locations configured</span>
        </ng-template>
    </ng-container>
    <ng-template #storageLocationsMissing>
        Storage Locations Not Working
    </ng-template>
    <ng-container *ngIf="configs != null; else configsMissing">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td colspan="1">Key</td>
                    <td colspan="1">Value</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let config of configs | keyvalue">
                    <td>
                        <label for="{{config.key}}">{{config.key}}</label>
                    </td>
                    <td>
                        <input type="text" name="{{config.key}}" id="{{config.key}}" value="{{config.value}}"
                            class="form-control">
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary" (click)="onSaveChanges()">Save Changes</button>
        </div>
    </ng-container>
    <ng-template #configsMissing>
        Configs Not Working
    </ng-template>
</div>