:root {
    --color1: #262626;
    --color2: #C3C3C6;
    --color3: #323232;
    --color4: #292929;
    --color5: #373737;
    --color6: #F0F0F0;
    --color7: #D0D0D0;
    --color8: #2A2A2A;
    --color9: #878787;
    --color10: #606060;
    --color11: #303030;
    --color12: #476CFF;
    --color13: #ba4237;
    --color14: #2E2E30;
    --color15: #467821;
    --color16: #203485;
    --color17: #716F12;
    --color18: #6B2525;
    --page-title-font-size: calc(0.7vw + 0.9rem);
    --page-title-margin-left: calc(0.2vw + 0.2rem);
    --page-margin-left: calc(2vw + 2rem);
    --page-margin-top: calc(1.2vw + 1.7rem);
    --form-section-title-font-size: calc(0.45vw + 0.65rem);
    --form-section-title-font-weight: 500;
    --form-input-label-font-size: calc(0.35vw + 0.58rem);
    --form-input-label-font-weight: 500;
    --form-input-label-padding-bottom: calc(0.27vw + 0.25rem);
    --form-input-font-size: calc(0.42vw + 0.65rem);
    --form-input-font-weight: 400;
    --form-input-margin-bottom: calc(0.8vw + 0.6rem);
    --form-input-height: calc(.7vw + 1.3rem);
    --form-input-inner-padding-left: calc(0.8vw + 0.6rem);
    --form-input-width: calc(6.2vw + 14.3rem);
    --form-section-title-margin-left: calc(0.2vw + 0.25rem);
    --form-section-title-margin-bottom: calc(0.2vh + 0.3rem);
    --form-section-part-margin-top: calc(0.6vh + 0.5rem);
    --form-checkbox-size: calc(0.67vh + 0.72rem);
    --table-head-font-size: calc(0.5vw + 0.48rem);
    --table-head-font-weight: 500;
    --table-row-height: calc(1.2vh + 1.4rem);
    --table-row-font-size: calc(0.48vw + 0.45rem);
    --table-row-font-weight: 350;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background-color: var(--color1);
    color: var(--color2);
    font-family: "Inter", serif;

    input[type="checkbox"] {
        width: var(--form-checkbox-size);
        height: var(--form-checkbox-size);
        appearance: none;
        -webkit-appearance: none;
        background-color: none;
        border: 1px solid var(--color2);
        cursor: pointer;
        position: relative;
    }

    input[type="checkbox"]:checked {
        background-color: var(--color12);
        border: 1px solid var(--color2);
    }

    input[type="checkbox"]:checked::after {
        content: "";
        position: absolute;
        left: 5px;
        top: 1px;
        width: 6px;
        height: 12px;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }

    select{
        border: 1px solid var(--color10);
        background-color: var(--color11);
        color: var(--color2);
        padding: calc(0.1vw + 0.1rem) calc(0.2vw + 0.2rem);
        outline: none;
    }
}